@import '../var.less';

.screenshots-button {
  width: @button-size;
  height: @button-size;
  line-height: @button-size;
  color: #333;
  font-size: 18px;
  text-align: center;
  margin: 0 3px;
  vertical-align: middle;
  cursor: pointer;

  &-checked,
  &:hover {
    background-color: #eee;
    outline: 1px solid #777;
  }

  &-disabled {
    color: #bbb;
    cursor: not-allowed;

    &:hover {
      background-color: #fff;
      outline: none;
    }
  }

  &-label {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 11px;
    font-weight: 600;
    line-height: @button-size;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    svg {
      width: 18px;
      height: 18px;
      stroke: currentColor;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
